body {
    color: #212529;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
    max-width: 1024px;
    margin: 1.6cm;
}

a {
    color: #0366d6;
    text-decoration: none;
}

b {
    font-weight: 400;
}

h1, h2, h3 {
    font-family: 'Didact Gothic', serif;
    font-weight: 300;
    margin-bottom: 0;
}

hr {
    border: 0;
    border-top: 1px solid #aaa;
}

li {
    margin-left: -10px;
}

ul {
    margin: 0;
}

#contact-info {
    display: flex;
    line-height: 1.3em;
}

#contact-info .contact-left {
    align-self: flex-start;
}

#contact-info .contact-right {
    margin-left: auto;
    text-align: right;
}

#name {
    font-size: 1.6em;
    text-align: center;
}

#name .first-name {
    font-weight: 200;
}

#name .last-name {
    font-weight: 700;
}

.section {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 110px auto;
}

.section-left {
    color: #666;
    grid-column-start: 1;
    text-align: right;
}

.section-line {
    border-bottom: 3px solid #aaa;
    height: 1.5em;
    margin-bottom: auto;
    margin-top: auto;
}

.section-right {
    grid-column-start: 2;
}

@media print {
    body {
        font-size: 0.8em;
    }
    .section {
        grid-template-columns: 90px auto;
    }
    @page {
        /* This hides the header and footer added by Chrome when printing (https://stackoverflow.com/a/44748877/399105) */
        margin: 0;
    }
}
