body {
    color: #212529;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
    max-width: 1024px;
    margin: 25px;
}

a {
    color: #0366d6;
    text-decoration: none;
}

b {
    font-weight: 400;
}

h1, h2, h3 {
    font-family: 'Roboto', serif;
    font-weight: 300;
    margin-bottom: 0;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #aaa;
    /* margin: 24px 0; */
}

ul {
    margin: 0;
}

#contact-info {
    display: flex;
    line-height: 1.3em;
}

#contact-info .contact-left {
    align-self: flex-start;
}

#contact-info .contact-right {
    margin-left: auto;
    text-align: right;
}

#name {
    font-size: 1.5em;
    text-align: center;
}

#name .first-name {
    font-weight: 200;
}

#name .last-name {
    font-weight: 700;
}

.section {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 110px auto;
}

.section-left {
    color: #666;
    grid-column-start: 1;
    text-align: right;
}

.section-line {
    /* margin-top: 1.5em;
    height: 2px;
    background: #aaa; */
    border-bottom: 10px solid #aaa;
    margin-bottom: 5px;
}

.section-right {
    grid-column-start: 2;
}